Bank_SoapRest/Client/src/main/java/generated/soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapservice/" name="SoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://soapservice/" schemaLocation="http://localhost:8080/soap?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="makeTransfer">
<part name="parameters" element="tns:makeTransfer"/>
</message>
<message name="makeTransferResponse">
<part name="parameters" element="tns:makeTransferResponse"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<message name="getHistory">
<part name="parameters" element="tns:getHistory"/>
</message>
<message name="getHistoryResponse">
<part name="parameters" element="tns:getHistoryResponse"/>
</message>
<message name="createAccount">
<part name="parameters" element="tns:createAccount"/>
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse"/>
</message>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"/>
</message>
<message name="withdrawResponse">
<part name="parameters" element="tns:withdrawResponse"/>
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit"/>
</message>
<message name="depositResponse">
<part name="parameters" element="tns:depositResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="SoapService">
<operation name="register">
<input wsam:Action="http://soapservice/SoapService/registerRequest" message="tns:register"/>
<output wsam:Action="http://soapservice/SoapService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="makeTransfer">
<input wsam:Action="http://soapservice/SoapService/makeTransferRequest" message="tns:makeTransfer"/>
<output wsam:Action="http://soapservice/SoapService/makeTransferResponse" message="tns:makeTransferResponse"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://soapservice/SoapService/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://soapservice/SoapService/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
<operation name="getHistory">
<input wsam:Action="http://soapservice/SoapService/getHistoryRequest" message="tns:getHistory"/>
<output wsam:Action="http://soapservice/SoapService/getHistoryResponse" message="tns:getHistoryResponse"/>
</operation>
<operation name="createAccount">
<input wsam:Action="http://soapservice/SoapService/createAccountRequest" message="tns:createAccount"/>
<output wsam:Action="http://soapservice/SoapService/createAccountResponse" message="tns:createAccountResponse"/>
</operation>
<operation name="withdraw">
<input wsam:Action="http://soapservice/SoapService/withdrawRequest" message="tns:withdraw"/>
<output wsam:Action="http://soapservice/SoapService/withdrawResponse" message="tns:withdrawResponse"/>
</operation>
<operation name="deposit">
<input wsam:Action="http://soapservice/SoapService/depositRequest" message="tns:deposit"/>
<output wsam:Action="http://soapservice/SoapService/depositResponse" message="tns:depositResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://soapservice/SoapService/loginRequest" message="tns:login"/>
<output wsam:Action="http://soapservice/SoapService/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="SoapServicePortBinding" type="tns:SoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeTransfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="withdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deposit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapService">
<port name="SoapServicePort" binding="tns:SoapServicePortBinding">
<soap:address location="http://localhost:8080/soap"/>
</port>
</service>
</definitions>